{% extends "layout.html" %}
 
{% block content %}
  <h2>Submit training data</h2>
 
  {% if success %}
    <p>Thank you for your trainingData. The training result is as follows.</p>
    <img src="{{ url_for('static', filename = imgname) }}" alt="Training result" style="width:608px;height:456">
 
  {% else %}
 
    <p><b>Training data. </b> <br><i>Note: either upload a file or fill the textbox but NOT both.</i></p>
    <form action="{{ url_for('submit') }}" enctype="multipart/form-data" method=post>
      {{ form.hidden_tag() }}
 
      {{ form.dataFile.label }}<br>
      <input type=file name=dataFile></input><br><br>
      {{ form.trainingData.label }}<br>
      {{ form.trainingData(rows=20,cols=60) }}<br><br>
      {{ form.trainingMode.label }}<br>
      {{ form.trainingMode }}<br><br>
      {{ form.submit }}
    </form>
 
  {% endif %}
{% endblock %}
